.bigdiv {
    width: 95%;
    margin: auto;
    text-align: center;
}

.tablediv {
    width: 800px;
        
        margin: 10px;
        /* background-color: #67C28F; */
        display: inline-block;
        border-radius: 10px;
        /* border: 2px solid #01632C; */
    }

.smalldivs {
        width: 400px;
        height: 400px;
        margin: 10px;
        /* background-color: #67C28F; */
        display: inline-block;
        border-radius: 10px;
        /* border: 2px solid #01632C; */
    }

#vandiv {
    width: 820px;
    /* width: 95%; */
    display: inline-block;
    border-radius: 10px;
    
}

.vanIssueInputDiv{
    width: 100%;
    /* float: left; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* rgba(0, 0, 0, 0.09); */
    /* display: flex;
    align-items: center; */
}

.vanIssueInputField {
    width: 200px;
    /* float: right; */
}

 
