.list-horizontal-display > div {
    display: inline-block;
}

#updateButtonSpan {
    text-align: center; 
}

#updateButtonDiv {
    text-align: center; 
}

#returnedDiv {
    width: 80%;

    display: inline-block;
    text-align: center;
    /* margin: auto; */
}